<!DOCTYPE html>
<html>

  <head>
    <!-- build:css css/lib.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css css/app.css -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- endbuild -->

    <title>Input date field</title>
  </head>

  <body ng-app="myApp">
    <div ng-controller="myBasicController as vm">

      <input-date-field ng-model="vm.dt"></input-date-field>

      <input-date-field ng-model="vm.dt" ng-disabled="true"></input-date-field>

      <input-date-field ng-model="vm.dt" datepicker-options="vm.options"></input-date-field>

      dt - {{vm.dt}}

      <input-date-field ng-model="vm.dt2" datepicker-options="vm.options" on-change-callback="vm.logChangedTime()"></input-date-field>

    </div>

    <!-- build:js js/lib.js -->
    <!-- bower:js -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js js/app.js -->
    <!-- inject:js -->
    <script src="js/inputDateField.js"></script>
    <script src="js/script.js"></script>
    <!-- endinject -->
    <!-- inject:templates:js -->
    <!-- endinject -->
    <!-- endbuild -->
  </body>

</html>
